:root {
  --bg-light: #ffffff;
  --fg-light: #000000;

  --bg-dark: #212529;
  --fg-dark: #ffffff;
}

.post {
  border: 1px solid black;

  padding: 10px;
  border-radius: 10px;
  margin: 10px 5px;
}

.post-author {
  font-weight: 600;

  display: inline;
}

.post-author-tag {
  color: #a9a9a9;

  display: inline;
}

.post-author-tag::before {
  content: "@";
}

.post > a, form {
  display: inline;
}

.y__header {
  /*flex-wrap justify-content-center justify-content-md-between*/

  padding: 1em;

  background-color: var(--bg-dark);
  color: var(--fg-dark);

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin-bottom: 1em;
}

.y__brand {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-items: center;

  color: var(--fg-dark);

  font-size: 1.5em;

  text-decoration: none !important;
}
