{% extends 'base.html' %}

{% block title %}
  Y
{% endblock %}

{% block content %}
  <form action="" method="post">
    <p>
      {{ form.username.label }}<br />
      {{ form.username(class='form-control', type='string') }}<br />
      {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </p>
    <p>
      {{ form.email.label }}<br />
      {{ form.email(class='form-control', type='string') }}<br />
      {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br />
      {{ form.password(class='form-control', type='password') }}<br />
      {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </p>
    <p>
      {{ form.display_name.label }}<br />
      {{ form.display_name(class='form-control', type='string') }}<br />
      {% for error in form.display_name.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </p>
    <p>
      {{ form.description.label }}<br />
      {{ form.description(class='form-control', type='string') }}<br />
      {% for error in form.description.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </p>
    <p>{{ form.submit(type='submit', class='btn btn-primary') }}</p>
    <p>{{ form.cancel(type='submit', class='btn btn-primary') }}</p>
  </form>
{% endblock %}
