{% extends "base.html" %}

{% block title %}
  Y
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="post">
      <div class="post-author">{{ post.user.display_name }}</div>
      <div class="post-author-tag">{{ post.user.username }}</div>
      <div class="post-time">{{ post.creation_time }}</div>
      <div class="post-text">
        {{ post.text }}
      </div>
      <div class="post-comments">
        <a href="/comments?post_id={{ post.id }}">
          <button class="btn btn-tertiary" >See comments</button>
        </a>
      </div>
    </div>
  {% endfor %}
{% endblock %}