{% extends "base.html" %}

{% block title %}
  Y
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="post">
      <div class="post-author">{{ post.user.display_name }}</div>
      <div class="post-author-tag">{{ post.user.username }}</div>
      <div class="post-time">{{ post.creation_time }}</div>
      <div class="post-text">
        {{ post.text }}
      </div>
      <form action="" method="post">
        <button type="submit" class="btn btn-tertiary" name={{ post.id }}>See comments</button>
      </form>
    </div>
  {% endfor %}
{% endblock %}