{% extends "base.html" %}

{% block title %}
  Y
{% endblock %}

{% block content %}
  <h1>Welcome to Y!</h1>

  <p>{{ user.display_name }} ({{ user.username }})</p>
  <form action="" method="post">
    <button type="submit" class="btn btn-primary" name="create">Create post</button>
  </form>
  {% for post in posts %}
    <p>
      {{ post.user_display_name }}
      {{ post.creation_time }}
      <br>
      {{ post.text }}
      <form action="" method="post" >
        <button type="submit" class="btn btn-primary" name="comments" value={{post.id}}>See comments</button>
        <button type="submit" class="btn btn-primary" name="edit" value={{post.id}}>Edit</button>
        <button type="submit" class="btn btn-primary" name="delete" value={{post.id}}>Delete</button>
      </form>
    </p>
  {% endfor %}
{% endblock %}